body  {
  // padding: 0;
  height: 100%;
  margin: 0;
}
$mosaic-size:1280px;
#app{
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#mosaic-holder{
  display: block;
  margin: auto;
  position: relative;
  height: min(100vh, 100vw);
  width: min(100vh, 100vw);
}

